<!-- <script src="{{ '/assets/js/jquery.min.js' | relative_url}}"></script> -->
<script src="{{ '/assets/js/contact.js' | relative_url }}"></script>

<section>
    <h4 class="font-weight-bold text-center">Contact form</h4>
    <p class="text-muted text-center">I'll reply as soon as possible</p>
    <form id="contact-form" class="needs-validation col-md-8 col-sm-10 container-fluid" role="form" novalidate>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input name="subject" class="form-control" placeholder="Subject" required>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <textarea class="form-control rounded" rows="8" name="message" placeholder="Message..." required></textarea>
                </div>
            </div>
            <div class="col-12 mt-3">
                <button class="btn btn-danger" type="submit" name="submit">Send</button>
            </div>
        </div>
    </form>
</section>