<div class="mt-5 d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="border border-3 border-danger"></div>
        <div class="card shadow p-5">
            <div class="mb-4 text-center">
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
            <div class="text-center">
                <h1>I'm sorry 😞</h1>
                <p>Something wrong happened. Try contacting me on <a id="error-link" href="https://www.linkedin.com/in/alessio-sordo"
                    target="_blank">Linkedin</a>.</p>
                <a class="btn btn-outline-danger" href="{{ site.baseurl }}/">Back home</a>
            </div>
        </div>
    </div>
</div>