<footer class="mt-auto py-3 text-center">

  <!-- {%- assign theme_repo = "https://github.com/YoussefRaafatNasry/portfolYOU" -%} -->
  <small class="text-muted mb-2">
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
    by <strong>{{ site.author.name }}</strong> - <a id="privacy-link" class="text-muted font-weight-bold" href="/privacy">Privacy policy</a><span class="d-none d-md-inline"> - </span><br class="d-md-none"> {% include social.html %}
    <!-- based on <a href="{{ theme_repo }}">portfolYOU</a> -->
  </small>

</footer>