<!-- Greetings script -->
<script src="{{ '/assets/js/greeting.js' | relative_url }}"></script>

<div class="row align-items-center justify-content-center p-4">
  <div class="col-md-6 text-center">

    <!-- Fine Circle Responsive Image -->
    <div class="container">
      <div class="align-items-center justify-content-center">
        <div class="circle-image mx-auto" style="background-image: url('{{ site.author.image }}');"></div>
      </div>
    </div>

  </div>

  <div class="col-md-6 text-left">
    <div class ="container mt-4">
      <h3 class="font-weight-bold">Ciao! And <span id="greeting">greetings</span></h3>
      <span class="text-muted">{{ site.description }}</span>
    </div>
  </div>
</div>

<!-- <section> -->
  <div class="row justify-content-center p-4 align-items-start">
  <h3 class="font-weight-bold">My skills</h3>
  <!-- <div class="col-lg-3 col-md-6 col-sm-12 text-center">
    <div class="card" style="width: 10rem;">
      <i class="fab fa-html5 skills card-img-top mx-auto" data-toggle="tooltip" data-placement="bottom" data-delay="250" alt="HTML logo"></i>
      <div class="card-body">
        <p class="card-text">HTML</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
  </div>
</div> -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="big card">
        <!-- <div class="card-block"> -->
          <div class="row justify-content-center">
            <i class="col-6 fab fa-html5 skills"></i>
            <i class="col-6 fab fa-html5 skills"></i>
          </div>
        <!-- </div> -->
        <h5 class="card-title text-themed">Programming languages</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="big card justify-content-center"><h5 class="card-title text-themed">Technologies</h5></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="big card justify-content-center"><h5 class="card-title text-themed">Tools</h5></div>
    </div>
  </div>
</div>
</div>
<!-- </section> -->