<!-- Greetings script -->
<script src="{{ '/assets/js/greeting.js' | relative_url }}"></script>

<div class="row align-items-center justify-content-center p-4" style="height: 75vh">
  <div class="col-md-6 text-center my-auto">

    <!-- Fine Circle Responsive Image -->
    <div class="container">
      <div class="d-flex align-items-center justify-content-center">
        <div class="circle-image mx-auto" style="background-image: url('{{ site.author.image }}');"></div>
      </div>
    </div> 

  </div>

  <div class="col-md-6 text-left">
    <h3 class="font-weight-bold">Ciao! And <span id="greeting"></span></h3>
    <span id="container" class="text-muted">{{ site.description }}</span>
  </div>
</div>