
<section class="row align-items-center justify-content-center p-4">
  <div class="col-md-5 text-center">

    <!-- Fine Circle Responsive Image -->
    <div class="container">
      <div class="align-items-center justify-content-center">
        <div class="circle-image mx-auto" style="background-image: url('{{ site.author.picture }}');"></div>
      </div>
    </div>

  </div>

  <div class="col-md-6 text-left">
    <div class ="container mt-4">
      <h3 class="font-weight-bold">Ciao! And <span id="greeting">greetings</span></h3>
      <span class="">Take a look around, you're more than welcome!</span>
    </div>
  </div>
</section>

<section class="justify-content-center p-4 align-items-start">
  <div class="col-lg-11 mx-auto markdown-body">
  <h3 class="font-weight-bold text-center">Who am I?</h3>
  <p>A <span id="age"></span>-year-old Computer Science Engineering student from Italy, passionate about <span class="font-weight-bold">IoT</span> and <span class="font-weight-bold">Machine Learning</span> and 
    with a basic knowledge of <span class="font-weight-bold">Electronics</span>, gained during the Bachelor’s Degree.<br><br> 
    During my free time, I enjoy volunteering to help people, running, hiking and cooking; I'm also
    a big fan of movies and I read books from time to time.<br><br>
    Take a look at the <a href="/projects">projects</a> I'm most proud of and at my <a href="/cv">CV</a> to get a better
    overview of the skills listed below. You can
    also <a href="/contact">contact me</a> if you'd like to have a talk!</p>
  </div>
</section>

<section class="justify-content-center p-4 align-items-start">
  <div class="container">
  <h3 class="font-weight-bold text-center">Main skills</h3>
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="big card border-0">
            <div class="row row-skills align-items-center">
              <div class="col-lg-2 col-4 skill">
                <img class="img-skill" src="../assets/skills_imgs/c.webp" alt="c-lang" data-toggle="tooltip" title="C" data-placement="bottom"/>
              </div>
              <div class="col-lg-2 col-4 skill">
                <i class="fab fa-python fa-skill" data-toggle="tooltip" title="Python" data-placement="bottom" alt="python"></i>
              </div>
              <div class="col-lg-2 col-4 skill">
                <i class="fab fa-java fa-skill" alt="java" data-toggle="tooltip" title="Java" data-placement="bottom"></i>
              </div>
              <div class="col-lg-2 col-4 skill">
                <i class="fab fa-js fa-skill" alt="javascript" data-toggle="tooltip" title="JavaScript" data-placement="bottom"></i>
              </div>
              <div class="col-lg-2 col-4 skill">
                <img class="img-skill" src="../assets/skills_imgs/bash.webp" alt="bash" data-toggle="tooltip" title="Bash" data-placement="bottom"/>
              </div>
            </div>
          <h5 class="card-title-skills">Languages</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="big card border-0">
            <div class="row row-skills align-items-center">
              <div class="col-4 skill">
                <img class="img-skill" src="../assets/skills_imgs/tensorflow.webp" alt="tensorflow" data-toggle="tooltip" title="TensorFlow" data-placement="bottom"/>
              </div>
              <div class="col-4 skill">
                <img class="img-skill" src="../assets/skills_imgs/scikit.webp" alt="scikit-learn" data-toggle="tooltip" title="scikit-learn" data-placement="bottom"/>
              </div>
            </div>
          <h5 class="card-title-skills">Libraries</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="big card border-0">
            <div class="row row-skills align-items-center">
              <div class="col-4 skill">
                <i class="fab fa-git fa-skill" alt="git" data-toggle="tooltip" title="Git" data-placement="bottom"></i>
              </div>
              <div class="col-4 skill">
                <i class="fab fa-docker fa-skill" alt="docker" data-toggle="tooltip" title="Docker" data-placement="bottom"></i>
              </div>
              <div class="col-4 skill">
                <i class="fab fa-html5 fa-skill" alt="html" data-toggle="tooltip" title="HTML" data-placement="bottom"></i>
              </div>
            </div>
          <h5 class="card-title-skills">Technologies</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Greetings script -->
<script src="{{ '/assets/js/greeting.js' | relative_url }}"></script>
