<div class="mt-5 d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="border border-3 border-success"></div>
        <div class="card shadow p-5">
            <div class="mb-4 text-center">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <div class="text-center">
                <h1>Thank You!</h1>
                <p>A confirmation email has been sent to your address.</p>
                <a class="btn btn-outline-success" href="{{ site.baseurl }}/">Back home</a>
            </div>
        </div>
    </div>
</div>