html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

// $custom-colors: (
//   "blue": #0000FF,
//   "violet": #8000FF,
//   "magenta": #FF00FF,
//   "rose": #FF0080,
//   "salmon": #FF4C4C,
//   "tangerine": #FF9933,
//   "lemon-yellow": #FFFF4D,
//   "chartreuse": #B3FF66,
//   "bright-green": #66FF66,
//   "sea-green": #66FFB3,
//   "electric-blue": #4DFFFF,
//   "royal-blue": #4D4DFF,
//   "purple": #B366FF,
//   "fuchsia": #FF66FF,
//   "pink": #FF66B3,
//   "light-salmon": #FF9999,
//   "peach": #FFB366,
//   "pale-yellow": #FFFF80,
//   "light-lime": #CCFF99,
//   "mint-green": #99FF99,
//   "aquamarine": #99FFCC,
//   "light-cyan": #80FFFF,
//   "light-dark": #383838,
// );